
/* Keep */
.form-row{
    margin: 20px;
}

/* Keep */
.booking-title{
    color: white;
    text-align: center;
}


.bookingButton{
    padding: 20px;
    margin: 20px;
    min-width: 125px;
    max-width: 125px;
    text-align: center;

}

/* keep */
.form{
    width: 110%;
    padding-left: 30%;

}





