.card-row{
    margin-bottom: 50px;
    margin-top: 50px;
}

.card-col{
    margin-left: 50px;
    margin-right: 50px;
}

.card-image{
    height: 260px;

}



.card-footer{
    height: 45px;
    color: lightgray;
}

.card{
    max-height: 100%;
    min-height: 100%;

}

.card-button{
    text-align: center;
    padding: 15px;
    width: 200px;
}


